@import "../../css-config/mixins.scss";
.main-content {
    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        display: flex;
        @include md {
            max-width: 1200px;
        }
        
    }
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    @include md{
        height: 225vh;
    }
}