@import "../../css-config/mixins.scss";
.main-content {
    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        display: flex;
        @include md {
            max-width: 1200px;
        }
        
    }
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    // height: calc(200%);
    // @include md{
    // }
    .footer-img{
        z-index: -1;
        position:absolute;
        bottom:-34%;
        width:100%;
        display: flex;
        justify-content: center;
        background-color: #181818;
        padding-top: 250px;
        img{
            width:100%;
            margin: 0 auto;
        }
        @include md{
            display: none;
        }
    }
}
