@import "https://fonts.googleapis.com/css2?family=Anton&display=swap";
@import "../../../css-config/mixins.scss";
.MuiDialog-paper {
  background-color: black;
}
.merch-tile1-register-tile {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
  position: relative;
  top: 30%;
  .left {
    .eventName {
      font-family: "Anton";
      font-size: 15px;
      font-weight: 400;
      line-height: 33.79px;
      letter-spacing: 0.045em;
      text-align: left;
      // margin-right: 100px;
    }
    .date {
      font-size: 14px;
      font-weight: 400;
      line-height: 17.93px;
      letter-spacing: 0.045em;
      text-align: left;
      color: rgba(255, 255, 255, 0.718);
    }
  }
  .merch-register {
    background-color: white;
    color: black;
    height: fit-content;
    position: absolute;
    right: 10px;
    top: 30%;
    padding: 2px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.045em;
    text-align: center;
    border-radius: 4px;
  }
}
.merch-tile2-audition-tile {
    position: relative;
    bottom: 30%;

    form {
      position: relative;
      top: 30%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
.invisible-on-phone {
  display: none !important;
}
.merch-tile3 {
  width: 200px;
  img {
    width: 100%;
  }
}
@include md {
  .merch-tile1-register-tile {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 15px;
    border-radius: 1vw;
    font-family: Helvetica, sans-serif;
    position: relative;
    top:85%;
    margin: 0 auto;
    .left {
      .eventName {
        font-family: "Anton";
        font-size: 20px;
        font-weight: 400;
        line-height: 33.79px;
        letter-spacing: 0.045em;
        text-align: left;
      }
      .date {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.93px;
        letter-spacing: 0.045em;
        text-align: left;
        color: rgba(255, 255, 255, 0.718);
      }
    }

    .register {
      background-color: white;
      color: black;
      height: fit-content;
      position: relative;
      top: 10%;
      padding: 10px;
      cursor: pointer;
      // font-family: Helvetica Neue;
      font-size: 15px;
      font-weight: 400;
      line-height: 22.1px;
      letter-spacing: 0.045em;
      text-align: center;
      border-radius: 0.5vw;
    }
  }
  .merch-tile2-audition-tile {
    position: relative;
    bottom: 26%;

    form {
      position: relative;
      top: 30%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
  .invisible-on-phone {
    display: block !important
  }
}
.how-to-buy-text{
    position: relative;
    left: 0%;
    top: 14%;
    font-weight: 200;
    ul{
        display: flex;
        flex-direction: column;
        gap:4px
    }
    @include md{
        left:-22%;
        top:18%;
    }
}
// \\<Typography
// variant="h1"
// fontFamily={"Helvetica"}
// color={"white"}
// fontSize={"15px"}
// letterSpacing={"1px"}
// style={{
//   bottom: "5%",
//   left: "10px",
//   position: "absolute",
//   // fontWeight: "400",
// }}
// // className="invisible-on-phone"
// > • Query at Saaz@iiitdmj.ac.in.

// </Typography>
// <Typography
// variant="h1"
// fontFamily={"Helvetica"}
// color={"white"}
// fontSize={"16px"}
// letterSpacing={"1px"}
// style={{
//   bottom: "23%",
//   left: "10px",
//   position: "absolute",
//   // fontWeight: "400",
// }}
// // className="invisible-on-phone"
// >
// • Get customised text on your {product.title}.
// </Typography>
// <Typography
// variant="h1"
// fontFamily={"Helvetica"}
// color={"white"}
// fontSize={"15px"}
// letterSpacing={"1px"}
// style={{
//   bottom: "43%",
//   left: "10px",
//   position: "absolute",
//   // fontWeight: "400",
// }}
// // className="invisible-on-phone"
// >
// • Pay {product.price} on the above Qr and  upload.
// </Typography>