@import "../../../css-config/mixins.scss";
.products{
    width: calc(100% - 10px);
    background-color:black;
    padding: 10px;
    height: fit-content;
    margin: 0 auto;
    display:flex;
    // overflow-x: scroll;
    // position: relative;
    // top: 60px;
    color: white;
    justify-content: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    @include md{
        gap: 180px;
    }
}

.each-product-tile {
    // flex: 3 1 calc(25% - 20px);
    // box-sizing: border-box;
    width: calc(90% - 0px);
    @include md {
        width: 20%;
    }
}
