@import "../../css-config/mixins.scss";
@font-face {
    font-family: 'saazLight';
    src: url('../../fonts/HelveticaNeueLight.otf') format('opentype'),
         url('../../fonts/HelveticaNeueLightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* Add additional font formats if necessary */
    /* Specify the correct path to the font files */
  }
.footer {
    background:transparent;
    width: 100%;
    .footer-content {
        padding: 50px 0px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        @include md{
            gap: 47vw;
        }
        justify-content: space-around;
        @include md {
            justify-content: space-evenly;
            padding: 50px 0;
            
        }
        .col {
            max-width: 175px;
            @include md{
                max-width: 300px;
            }
            &:nth-child(3) {
                width: 150px;
                @include md {
                    width: auto;
                }
            }
            .title {
                margin-bottom: 20px;
                font-size: 20px;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                font-family: Helvetica;
                font-weight: bold;
                color: rgb(177, 174, 174);
            }
            .text {
                color: rgb(177, 174, 174);
                font-size: 10px;    
                @include md{
                    font-size:14px;
                }         
                font-family:  Helvetica;

            }
            .c-item {
                display: flex;
                margin-bottom: 10px;
                svg {
                    flex-shrink: 0;
                    font-size: 14px;
                    margin-right: 10px;
                    margin-top: 4px;
                    color: rgb(177, 174, 174);
                }
            }
            span {
                &.text {
                    display: block;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
        .social-icons {
            position: relative;
            top: 48px;
            display: flex;
            gap: 1vw;
            .icon {
                width: 30px;
                height: 30px;
                background: rgb(177, 174, 174);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
            }
        }
    }
    .bottom-bar {
        position: relative;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        z-index: -2;
        .bottom-bar-content {
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            @include md {
                padding: 0;
                height: 60px;
                max-width: 1200px;
                margin: 0 auto;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
            }
            .text {
                font-size: 12px;
                color: rgb(177, 174, 174);
            }
        }
    }
}
