@import "../../../css-config/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.Home-About-section{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .Home-About-content{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 23px;
    text-align: center;
    @include md {
      flex-direction: row;
      padding: 0 10vw;
      top: 2vh;
      gap: 20px;
    }
    .text {
      // margin-bottom: 20px;
      font-family: Helvetica;
      font-weight: 300;
      font-size: 14px;
      color: rgb(177, 174, 174);
      text-align: left;
    }
    // .small-text {
    //   margin-bottom: 15px;
    //   text-transform: uppercase;
    //   color: white;
    // }
    .more {
      max-width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      @include md{
        right: 20px;
      top: 10px;
      }

      // margin-bottom: 10px;
      cursor: pointer;
      // @include md {
      //   margin-top: 6px;
      //   margin-left: 12px;
      // }
      img {
        width: 22px;
        transition: transform 0.3s ease;
        position: relative;
        top: 0;
        left: 0;
        transition: 0.1s ease-in-out;
      }
      img:hover{
        transform: rotate(45deg);
      }

      p {
        color: white;
        font-family: "Anton";
        font-weight: 400;
        font-style: normal;
        max-width: fit-content;
        font-size: 10px;
      }
    }
    .bannerImg {
      margin-bottom: 20px;
      width: 33vw;
      img {
        width: 100%;
      }
    }
    .form {
      display: flex;
      gap: 5px;
      margin-bottom: 10px;
      input {
        width: 200px;
        height: 40px;
        border-radius: 0;
        border: 1px solid white;
        padding: 0 12px;
        font-size: 16px;
        outline: none;
        @include md {
          width: 300px;
        }
      }
      button {
        outline: 0;
        border: 0;
        height: 40px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
        color: white;
        background: #8e2de2;
        border-bottom: 3px solid #6516aa;
        @include md {
          width: 120px;
        }
      }
    }
    .social-icons {
      display: flex;
      gap: 10px;
      .icon {
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}
