@import "../../../css-config/mixins.scss";
@import "https://fonts.googleapis.com/css2?family=Anton&display=swap";
.audition-layout{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .drums{
        position: relative;
        width: calc(40%);
        @include md{
            width:20%;
        }
        img{
            width: 100%;
        }
    }
    .horizontal-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(80% - 50px);
        @include md{
            width: 40%;
        }
        background-color: #181818;
        height: fit-content;
        margin: 0 auto;
        border-radius: 8px;
        position: relative;
        transform: translateY(-15%);
        z-index: 100;
        .h1{
            position: relative;
            margin-top: 20px;
           font-family: "Anton";
           font-weight: 400;
           color: white;
           font-size: 20px;
           width: 150px;
           display: flex;
           text-align: center;
           text-transform: uppercase;
           letter-spacing: 2px;
        }
        .tape{
            width: 20%;
            position: relative;
            top: 27px;
            img{
                width: 100%;
            }
        }
        .apply-button{
            color: white;
            padding: 8px 44px;
            border:1px solid white;
            text-transform: capitalize;
            border-radius: 8px;
            position: relative;
            top: 19px;
            background-color: black;
            transition: all 300ms ease;
            cursor: pointer;
            &:hover{
                background-color: rgb(20, 20, 20);
            }
        }
    }
}