@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "../../../css-config/mixins.scss";
.tileLayout{
  position: relative;
  height: 125vh;
}
.menAvatar{
    width: 9vw;

    img{
        width: 100%;
    }
    position: relative;
    top: 11vh;
    left: 5vw;
  }
.Tiles {
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 15px;
  display: grid;
  max-width: calc(100vw - 20px);
  margin: 0 2vw;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  top: 10vh;
  overflow-x: scroll;
  overflow-y: hidden;
  @include md{
    overflow-x:auto ;
  }
  div {
    // padding: 30px;
    background: white;
    width:210px; 
    border-radius: 1vw;
    font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  .one {
    grid-column: 1/3;
    grid-row: 1/4;
    height: 700px;
    @include md{
      width: 28.85vw;
      height: 100vh;
    }
    background-color: #181818;
    color: #e0e0e0;
    opacity: 80%;
    transition: 0.2s ease-out;
    &:hover {
      opacity: 100%;
      border: 1px solid white;
    }
    .title {
      background-color: transparent;
      font-size: 100px;
      transform: rotate(-90deg);
      position: relative;
      top: 30%;
      left: 25%;
      @include md{
        font-size: 188px;
        top: 56%;
      left: 54%;
      }

    }
    .more{
        position: relative;
        background-color: transparent;
        font-size: 50px;
        top:90%;
        left: 4%;
    }
    .arrow{
        background-color: transparent;
        position: relative;
        top: 84.5%;
        left:83%;
        width: 4vw;
        img{
            width: 100%;
            transition: 0.2s ease-out;
            &:hover{
                transform: rotate(45deg) scale(1.1);
            }
        }
    }
    &:hover{
        img{
            transform: rotate(45deg) scale(1.1);
        }
    }
  }
  .two {
    grid-row: 1/3;
  }
  .three {
    grid-row: 1/2;
  }
  .four {
    grid-row: 1/3;
  }
  .six {
    grid-row: 2/4;
  }
}
