@import "../../css-config/mixins.scss";

@font-face {
  font-family: 'saaz';
  src: url('../../fonts/HelveticaNeueMedium.otf') format('opentype'),
       url('../../fonts/HelveticaNeueLight.otf') format('opentype'),
       url('../../fonts/HelveticaNeueThin.otf') format('opentype'),
       url('../../fonts/HelveticaNeueUltraLight.otf') format('opentype'),
       url('../../fonts/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'saazLight';
  src: url('../../fonts/HelveticaNeueLight.otf') format('opentype'),
       url('../../fonts/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main-header {
  width: 100%;
  padding: 0 20px;
  z-index: 1000;
  background-color: #000000;
  color: white;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  position: relative;

  .header-content {
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100vw;
    margin: 0 auto;

    @include md {
      height: 100px;
    }

    .left {
      position: relative;
      width: 25px;

      img {
        width: 100%;
      }

      cursor: pointer;

      @include md {
        width: 50px;
        left: 48px;
      }
    }

    .right {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 20px;

      .hamburger {
        display: block;
        width: 25px;
        cursor: default;
        position: relative;
        user-select: none;

        .stick {
          width: 100%;
          height: 3px;
          background: white;
          margin: 4px 0;
          transition: all 0.3s ease;
          transform-origin: center;
        }

        &.open {
          .stick:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }
          .stick:nth-child(2) {
            opacity: 0;
          }
          .stick:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }

        @include md {
          display: none;
        }
      }

      @include md {
        gap: 25px;
      }
    }

    .center {
      list-style-type: none;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background: black;
      transition: all 0.3s ease;
      gap: 5vh;
      li {
        padding: 10px;
        text-align: center;
        font-family:  Helvetica, sans-serif;
        font-size: 18px;
        font-weight:300;
        cursor: default;
        border-radius: 1vw;
        background-color: white;
        color: black;
        transition: all ease 0.3s;
        width: calc(100% - 180px);
        box-sizing: border-box;
        margin: auto;
        cursor:default;
       @include md{
          cursor:pointer;
          &:hover {
            opacity: 0.6;
            color: #323232;
          }
        }
      }

      &.open {
        display: flex;
        animation: slideIn 0.3s ease forwards;
        padding:20px 0;
      }

      @include md {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        height: 10vh;
        align-items: center;
        margin: 0;
        margin-left: 31.3vw;
        gap: 16px;

        li {
          font-size: 10px;
          width: 14vw;
          height: 29px;
          margin: 0;
          @include md {
            width: 14.1vw;
            height: 66px;
            font-size: 22px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }

  &.sticky-header {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    position: sticky;
    top: 0;
    transform: translateY(-60px);
    animation: StickyHeader 0.3s ease forwards;
  }
}

@keyframes StickyHeader {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
