@import "https://fonts.googleapis.com/css2?family=Anton&display=swap";
@import "../../../css-config/mixins.scss";
.MuiDialog-paper{
    background-color: black;
}
.tile1-register-tile{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width:calc(100% - 20px);
    padding:15px;
    border-radius: 1vw;
    font-family: Helvetica, sans-serif;
    position:relative;
    top:40%;
    .left{
        .eventName{
            font-family: 'Anton';
            font-size: 20px;
            font-weight: 400;
            line-height: 33.79px;
            letter-spacing: 0.045em;
            text-align: left;
            
        }
        .date{
font-size: 14px;
font-weight: 400;
line-height: 17.93px;
letter-spacing: 0.045em;
text-align: left;
color: rgba(255, 255, 255, 0.718);
        }
    }
    .register{
        background-color: white;
        color: black;
        height: fit-content;
        position: relative;
        top: 10%;
        padding: 10px;
        cursor: pointer;
        // font-family: Helvetica Neue;
font-size: 15px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.045em;
text-align: center;
    border-radius: 0.5vw;
    }
}
.tile2-audition-tile{
    position:relative;
    bottom: 30%;
    left: -9%;  
    .audition{
        font-family: 'Anton';
font-size: 20px;
font-weight: 400;
line-height: 44.08px;
letter-spacing: 0.045em;
text-align: left;

    }
    .audition-subtext{
        font-family: Helvetica;
font-size: 10px;
font-weight: 300;
line-height: 13.7px;
letter-spacing: 0.045em;
text-align: left;
width: 60%;
color: rgba(255, 255, 255, 0.718);
    }
}